.container {
	padding: 0 11.2vw;
}

.header {
	position: absolute;
	width: 100%;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
}

.header__logo {
	margin-right: auto;
}

.header__links {
	display: flex;
}

.icon-link {
	display: block;
	height: 22px;
	background-repeat: no-repeat;
}

[class*="head-links__"]:not(:last-child) {
	margin-right: 38px;
}

.favorite__link {
	width: 24px;
	background-image: url('../img/favorite.svg');
}

.favorite__link,
.account__link,
.cart__link {
	transition: transform .2s;
}

.favorite__link:hover,
.account__link:hover,
.cart__link:hover {
	transform: translateY(-5px) scale(1.5);
}

.account__link {
	width: 15px;
	background-image: url('../img/profile.svg');
}

.cart__link {
	position: relative;
	width: 20px;
	background-image: url('../img/cart.svg');
}

.cart__link::after {
	content: '1';
	position: absolute;
	left: 26px;
	top: 1px;
	font-weight: 300;
}

.header__burger {
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1px 0 2px;
	margin-left: 96px;
	background-color: transparent;
	border: none;
	outline: none;
}

.burger__line {

	width: 30px;
	height: 2px;
	background-color: #fff;
	border-radius: 10px;
}


.main::after {
	content: '';
	background-color: #272727;
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	width: 39%;
	z-index: -1;
}

.hero {

	display: flex;
	flex-direction: column;
	padding-top: 42.8vh;
	margin-bottom: 20px;
	height: 100vh;
}

.hero__title {
	margin-bottom: 3.5vw;
	font-family: 'Forum', 'Palatino', serif;
	font-size: 64px;
	font-weight: normal;
	letter-spacing: 0.03em;
	color: #272727;
	text-transform: uppercase;
}

.hero-offer__img {
	position: relative;
	right: 15.6vw;
	bottom: 19.5vw;
	align-self: flex-end;
	height: 11.8vw;
	transition: transform 1s
}

.hero__link {
	position: relative;
	left: 20.7vw;
	max-width: 200px;
	flex: 1 0 auto;
	font-family: 'Segoe UI';
	font-style: italic;
	font-weight: 300;
	color: #272727;
	transition: transform .3s
}


.hero__link::before {
	content: '';
	position: absolute;
	left: -169px;
	top: 13px;
	display: block;
	width: 130px;
	height: .5px;
	background-color: #272727;
}

.hero__link:hover {
	transform: translateX(30px);

}

.hero__wrapper {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 60px;
}

[class*="language__"] {
	padding: 0;
	font-size: 16px;
	color: #C4C4C4;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	outline: none;
}

.language__ru {
	margin-right: 8px;
}

.language__ru--active {
	color: #272727;
}

.hero-offer {
	cursor: pointer;
	transition: transform .1s;
}

[class*=hero-offer__]:not(.hero-offer__img) {
	transition: transform .1s
}

.hero-offer:hover [class*=hero-offer__]:not(.hero-offer__img) {
	transform: scale(1.2);
}

.hero-offer:hover .hero-offer__img {
	transform: translateX(18.7vw) scale(1.2);
}

.hero-offer__title {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
	text-align: right;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.hero-offer__info {
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 18px;
	text-align: right;
	color: #C2C2C2;
}

.hero-offer__price {
	font-family: 'Segoe UI';
	font-style: italic;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	text-align: right;
	letter-spacing: 0.03em;
	color: #EFC58B;
}

[class*=__price]::after {
	content: '\20BD';
	margin-left: 4px;
}

.divisions {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.divisions__link {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(50% - 10.5px);
	height: 40.7vw;
	font-family: 'Forum', serif;
	font-size: 64px;
	letter-spacing: 0.03em;
	text-align: center;
	transition: transform .2s;
}

.divisions__link:hover {
	transform: scale(0.95);
}

.divisions__link::before {
	content: 'Перейти в раздел';
	position: absolute;
	top: 39%;
	font-family: 'Futura PT';
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 0;
}

.divisions__link::after {
	content: '';
	position: absolute;
	bottom: 40%;
	width: 130px;
	height: 1px;
	background-color: #fff;
}

.div-men {
	background: linear-gradient(rgba(39, 39, 39, .4), rgba(39, 39, 39, .4)),
		url('../img/div-men.jpg') no-repeat;
	background-size: cover;

}

.div-women {
	background: linear-gradient(rgba(39, 39, 39, .4), rgba(39, 39, 39, .4)),
		url('../img/div-women.jpg') no-repeat;
	background-size: cover;
}

.location {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.location__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding: calc(10vw + 28px) calc(10vw + 18px);
	background-color: #272727;
}

.location__title {
	margin-bottom: 16px;
	font-family: 'Forum';
	font-size: calc(3vw + 4.8px);
	line-height: 53px;
	letter-spacing: 0.03em;
}

.location__description {
	margin-bottom: 59px;
	font-family: 'Futura PT';
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
}

.location__search {
	display: flex;
	justify-content: space-between;
	padding-bottom: 9px;
	border-bottom: 1.8px solid #FFFFFF;

}

.search__field {
	flex-grow: 1;
	padding-right: 20px;
	background-color: transparent;
	color: #fff;
	border: none;
	outline: none;
}

.search__field::placeholder {
	font-weight: 300;
	display: flex;
	align-items: center;
	color: rgba(255, 255, 255, 0.4);
}

.search__btn {
	width: 30px;
	background: url('../img/search-arrow.svg') 0 3px no-repeat transparent;
	border: none;
	outline: none;
}

.location__map {
	flex-grow: 1;
}

.stock {
	margin-bottom: 20px;
}

.stock__list {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: repeat(2, calc(100vw / 4 + 40px));
	gap: 20px;

}

.stock__item {
	background-color: #ededed;
}

.stock-item__article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.stock-item__article {
	padding: 20px 30px;
}



.central-item {
	position: relative;
	grid-column: 2/3;
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px 30px;
}

.central-item__article {
	z-index: 0;
}

.central-article__img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.item-article__img {
	align-self: center;
}

.item-article__title,
.central-article__title {
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #272727;
}

.item-article__info,
.central-article__info {
	margin-bottom: 12px;
	font-weight: 300;
	color: #757575;

}

.item-article__price,
.central-article__price {
	font-family: 'Segoe UI';
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #E2B67A;
}

.central-article__title {
	margin-bottom: 12px;
	z-index: 1;
	color: #FFFFFF;
}

.central-article__info {
	margin-bottom: 14px;
	z-index: 1;
	color: #E7E7E7;
}

.central-article__info {
	z-index: 4;
	color: #EFC58B;
}

.item-1 .item-article__img {
	width: 18vw;
	margin-top: 1.9vw;
	margin-bottom: 4.8vw;

}

.item-2 .item-article__img {
	width: 19.3vw;
	margin-top: 2.3vw;
	margin-bottom: 4.4vw;
}

.item-3 .item-article__img {
	width: 18.1vw;
	margin-top: 2.8vw;
	margin-bottom: 4.8vw;
}

.item-4 .item-article__img {
	width: 9.3vw;
	margin-top: 2vw;
	margin-bottom: 4.3vw;
	margin-right: 16px;
}

.item-1 .title__link:hover {
	border-bottom: 1px solid #272727;
}

.item-2 .title__link:hover {
	border-bottom: 1px solid #272727;
}

.item-3 .title__link:hover {
	border-bottom: 1px solid #272727;
}

.item-4 .title__link:hover {
	border-bottom: 1px solid #272727;
}

.central-item .title__link:hover {
	border-bottom: 1px solid #fff;
}

.communications {
	background: url('../img/communication.jpg') no-repeat;
	padding: 12.5vw 14.3vw 12.5vw 62vw;
}

.communications__phone {
	margin-bottom: 110px;
}


.com-phone__title {
	margin-bottom: 31px;
	font-weight: 400;
	letter-spacing: -0.9px;
	text-transform: uppercase;
	color: #272727;

}

.com-phone__number {
	font-weight: 300;
	font-size: 22px;
	color: #959595;
}



.subscribe__title {
	font-weight: 400;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #272727;
}

.subscribe__wrapper {
	display: flex;
	justify-content: space-between;
	width: 82.5%;
	margin-top: 33px;
	padding-bottom: 10px;
	border-bottom: 1.8px solid #272727;
}

.subscribe__email {
	flex-grow: 1;
	padding: 0;
	padding-right: 10px;
	font-weight: 300;
	font-size: 22px;
	height: 22px;
	color: #959595;
	border: none;
	outline: none;
}

.subscribe__btn {
	padding: 0;
	padding-bottom: 22px;
	width: 30px;
	height: 17px;
	background: url('../img/arrow.svg') 0 4px no-repeat;
	border: none;
	outline: none;
}

.footer {
	padding-top: 81px;
	padding-bottom: 89px;
	background-color: #272727;
}

.footer__nav {
	margin-bottom: 90px;
}


.footer-nav__list {
	display: flex;
	justify-content: space-between;
}

.footer-nav__item {
	font-weight: 450;
	font-size: 14px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	transition: text-shadow .5s;

}

.footer-nav__item:hover {
	text-shadow: 0 0 10px #fff;
}

.footer__bottom-bar {
	display: flex;
	align-items: center;
}

.footer__logo {
	margin-right: auto;
	margin-bottom: 19px;
}



.contacts__title {
	margin-bottom: 16px;
	font-size: 14px;
	letter-spacing: .6px;
	font-weight: 400;
	text-transform: uppercase;
}

.contacts__phone-number {

	font-weight: 300;
	color: #C2C2C2;
}

.contacts__social {
	margin-top: 15px;
	display: flex;
}

.contacts__item:first-child {
	margin-right: 20px;
}

.contacts__item [class*=__link] {
	display: block;
	width: 35px;
	height: 35px;
}

.facebook__link {
	background: url('../img/Facebook.svg') no-repeat;
}

.instagram__link {
	background: url('../img/Instagram.svg');
}

.footer__subscribe {
	margin-left: 82px;
}



.footer-subscribe__title {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.footer-subscribe__wrapper {
	display: flex;
	margin-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.footer-subscribe__email {
	flex-grow: 1;
	padding: 0;
	padding-right: 10px;
	width: 250px;
	height: 22px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	vertical-align: bottom;
	border: none;
	outline: none;
	background-color: transparent;
}

.footer-subscribe__btn {
	padding: 0;
	padding-bottom: 22px;
	width: 30px;
	height: 17px;
	background: url('../img/search-arrow.svg')0 4px no-repeat;
	border: none;
	outline: none;
	background-color: transparent;

}


.footer-subscribe__apps {
	display: flex;
	margin-top: 15px;
}


.apps__item {
	width: 90px;
}

.apps-item:first-child {
	margin-right: 13px;
}

[class*=apps-item__] {
	display: block;
	height: 30px;
}

.apps-item__app-store {
	background: url('../img/appstore.svg') no-repeat;
}

.apps-item__google-play {
	background: url('../img/googleplay.png') no-repeat;
}
