.menu {
	position: fixed;
	background-color: #272727;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	bottom: 100vh;
	transition: all 1s;
}


.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 4vh;
	padding-bottom: 4vh;
}

.header__logo {
	margin-right: auto;
}

.header__links {
	display: flex;
}

.icon-link {
	display: block;
	height: 22px;
	background-repeat: no-repeat;
}

[class*="head-links__"]:not(:last-child) {
	margin-right: 38px;
}

.favorite__link {
	width: 24px;
	background-image: url('../img/favorite.svg');
}

.favorite__link,
.account__link,
.cart__link {
	transition: transform .2s;
}

.favorite__link:hover,
.account__link:hover,
.cart__link:hover {
	transform: translateY(-5px) scale(1.5);
}

.account__link {
	width: 15px;
	background-image: url('../img/profile.svg');
}

.cart__link {
	position: relative;
	width: 20px;
	background-image: url('../img/cart.svg');
}

.cart__link::after {
	content: '1';
	position: absolute;
	left: 26px;
	top: 1px;
	font-weight: 300;
}

.header__burger {
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1px 0 2px;
	margin-left: 68px;
	background-color: transparent;
	border: none;
	outline: none;
}

.burger__line {
	width: 30px;
	height: 2px;
	background-color: #fff;
	border-radius: 10px;
}

.line-1 {
	transform: rotate(45deg) translate(8px, 2px);
}

.line-2 {
	display: none;
}

.line-3 {
	transform: rotate(-45deg) translate(9px, -3px)
}

.menu__nav {
	background-color: #2f2f2f;
	margin-bottom: auto;
}

.menu-item {
	position: relative;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	padding-right: 197px;

}

.menu-item__btn {
	padding: 2.6vh 0;
	font-weight: 450;
	font-size: 16px;
	letter-spacing: .9px;
	color: #fff;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.menu-item__btn_active {
	border-bottom: 1.8px solid #fff;
}


.menu-item__submenu {
	position: absolute;
	top: 14.3vh;
	width: 54.3vw;
	display: flex;
	justify-content: space-between;
}

.submenu-item__title {
	margin-bottom: 3vh;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.submenu-item__item {
	line-height: 23px;
	letter-spacing: 1.8px;
}

.submenu-item__item:not(:last-child) {
	margin-bottom: 1.4vh;
}

.all-brands {
	font-family: 'Segoe UI';
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0;
	color: #EFC58B;
}

.menu__footer {
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
	padding-bottom: 76px;
}

.menu-footer__hero {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0 30px;
	background: url('../img/menu-footer-hero.jpg') center no-repeat;
	background-size: cover;
}

.footer-hero__description {
	align-self: flex-start;
	letter-spacing: 1.2px;
}

.footer-hero__title {
	font-family: 'Forum';
	font-size: 48px;
	letter-spacing: .9px;
	text-transform: uppercase;
}

.footer-hero__link {
	display: block;
	align-self: flex-end;
	padding-right: 54px;
	letter-spacing: 1.2px;
	background: url('../img/search-arrow.svg') right 4px no-repeat;
}

.menu-footer__wrapper {
	display: flex;
	flex-direction: column;
	margin-left: 6vw;
}

.menu-footer__contacts {
	margin-bottom: 5.4vh;
}

.contacts__title {
	margin-bottom: 16px;
	font-size: 14px;
	letter-spacing: .6px;
	font-weight: 400;
	text-transform: uppercase;
}

.contacts__phone-number {

	font-weight: 300;
	color: #C2C2C2;
}

.contacts__social {
	margin-top: 15px;
	display: flex;
}

.contacts__item:first-child {
	margin-right: 20px;
}

.contacts__item [class*=__link] {
	display: block;
	width: 35px;
	height: 35px;
}

.facebook__link {
	background: url('../img/Facebook.svg') no-repeat;
}

.instagram__link {
	background: url('../img/Instagram.svg');
}

.footer__subscribe {
	margin-left: 82px;
}



.footer-subscribe__title {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.footer-subscribe__wrapper {
	display: flex;
	margin-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.footer-subscribe__email {
	flex-grow: 1;
	padding: 0;
	padding-right: 10px;
	width: 250px;
	height: 22px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	vertical-align: bottom;
	border: none;
	outline: none;
	background-color: transparent;
}

.footer-subscribe__btn {
	padding: 0;
	padding-bottom: 22px;
	width: 30px;
	height: 17px;
	background: url('../img/search-arrow.svg') 0 -1px no-repeat;
	border: none;
	outline: none;
	background-color: transparent;

}


.footer-subscribe__apps {
	display: flex;
	margin-top: 15px;
}


.apps__item {
	width: 90px;
}

.apps-item:first-child {
	margin-right: 13px;
}

[class*=apps-item__] {
	display: block;
	height: 30px;
}

.apps-item__app-store {
	background: url('../img/appstore.svg') no-repeat;
}

.apps-item__google-play {
	background: url('../img/googleplay.png') no-repeat;
}
